<div class="menu-sup small-12 medium-12 column hide-for-large-up">
	<div class="small-6 medium-6 column hide-for-large-up">
		<a class="right-off-canvas-toggle close-menu-mobile"><span></span>&#215;</a>
	</div>
	<div class="small-6 medium-6 column hide-for-large-up">
		<ul class="lang">
			<li><a href="en">EN /</a></li>
			<li><a href="es"> 中文</a></li>
		</ul>
	</div>
</div>
<ul class="off-canvas-list">
  <li><a {{#is body_classes "Live"}} class="current-menu-item"{{/is}} href="live.html">LIVE</a></li>
  <li><a {{#is body_classes "Work"}} class="current-menu-item"{{/is}} href="work.html">WORK</a></li>
  <li><a {{#is body_classes "Neighborhood"}} class="current-menu-item"{{/is}} href="neighborhood.html">NEIGHBORHOOD</a></li>
  <li><a {{#is body_classes "Team"}} class="current-menu-item"{{/is}} href="team.html">TEAM</a></li>
  <li><a {{#is body_classes "Press"}} class="current-menu-item"{{/is}} {{#is body_classes "Press-interna"}} class="current-menu-item"{{/is}} href="press.html">PRESS</a></li>
  <li><a {{#is body_classes "Contact"}} class="current-menu-item"{{/is}} href="contact.html">CONTACT</a></li>
	<a {{#is body_classes "Availability"}} class="current-active-button button"{{/is}} class="button" href="availability.html">AVAILABILITY</a>
</ul>
<div>
<div class="small-12 medium-12 column hide-for-large-up">
	<ul class="social">
		<li><a href="#" class="icon facebook"></a></li>
		<li><a href="#" class="icon vimeo"></a></li>
	</ul>
</div>
