body{
  font-size: 8px;
  overflow:auto;
}
.mT15xs{
  margin-top: 1.5em;
}
.mT30xs{
  margin-top: 3em;
}
.mT0xs{
  margin-top: 0;
}
.mT7xs{
  margin-top: .7em;
}
.label_other{
  margin-top:1.7em
}
.imgFades {
  width: 100%;
  float:none;
  position: absolute;
  top: 100%;
  height:100%;

  div{
      width:100%;
  }
  h1{
  font-family: $txtBase;
  @include text-size(2.8em);
  position: absolute;
  font-weight: 300;
  bottom: 8%;
  right:8%;
  width: 100%;
  color:#FFFFFF;
  text-align:right;
  }
  span{
    font-family: $txtBase;
    @include text-size(.9em);
    position: absolute;
    font-weight: 400;
    bottom: 3%;
    right:8%;
    width: 100%;
    color:#FFFFFF;
    text-align:right
  }
}
.pattern{
    background-image: none;
    right:0;
    z-index:-1;
}
.columLeft {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
    
    .ondasLeft {
      background-image: none;
    }
    .content {
        width: 100%;
        left:0;
    }
}
.selectric .label {
  padding: 6px 6px;
}
#disclaimer{
  width:100%;

  p {
    font-size: 1.2em; 
    padding: 17%;
    text-align: justify;
  }
}
.bgBlack{
  display:none;
}
div.content{
  
  text-align: center; 
  
    figure{
      position: relative;
      top: 1.5%;
    }

    h1{
      top: -1%;
      line-height:20px;
    }
    p{
      top: 0;
      line-height:17px;
      @include text-size(1.7em);
    }
    #logo{
      width:40%;
      max-width:23em
    }
    hr{
      display:none;
    }
    a.btn{
      top: 0;
    }
    .arrowDown{
      height: 20%;
      width: 100%;
      position: absolute;
      bottom: -10px;
      display:block;

      img{
        display: table-cell;
        vertical-align: top;
        margin: auto;
        display:block;
      }
    }
    footer{
      @include text-size(1em);
      bottom: 10px;
    }
    div.listImg{

      width: 100%;
      margin: auto;
      position: absolute;
      bottom: 5.5%;

      ul{
        list-style: none;
        width:80%;
        margin: auto;

        li{
          float:left;
          display: inline-block;
          width: 33%;
          vertical-align:middle;  
        }
      }
    }
}
#form{

    top: 200%;
    overflow: inherit;
    @include text-size(1em);

  .contentForm{
        
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0;
        margin-right: 0;
        
        .back a{
          right: 6%;
          top: 1%;
        }

        p:last-child{
            font-size: 1.2em;
            line-height: 1.5em;
            right: 0;
            position: absolute;
            width: 93px;
        }

        figure{

            img{
                width:30%;
                margin:3% 0;
            }
        }

        button.btn{
          margin-top: 10%;
          width: 100%;
          float:none;
          display:block;

          &:hover{
            background: #a0baa6!important;
            color: #FFFFFF!important;
            @include animationAll(.3s);
          }

          p{
            top:-180%;
          }
        }
        span{
          margin-top: 0;

            img{
              width:110px
            }

            p{
              line-height: 30px;
              margin-top: 0;
            }
          }
          footer{
            @include text-size(1em);
            margin-top: 10%;
            text-align: center;
          }

    }
}