body{
  overflow:auto;
  font-size: 8px;
}
.hide-landscape-xs{
  display:none!important;
  visibility:hidden!important;
}
.show-landscape-xs{
  display:block!important;
  visibility:visible!important;
}
.imgFades{
  top:200%;
}
#form{
  top:300%;
  .contentForm{

        p:last-child{
            font-size: 1.2em;
            line-height: 1.5em;
            right: 0;
            position: absolute;
            width: 93px;
        }
    }
}
.columLeft{
	height: 190%;
  	min-height: 600px;

	div.content{

		figure{

			margin-top: 12%;

		}
		.arrowDown{

	    	top: 5%;
	    	position:relative;
	    
	    }
	    div.listImg{

	      bottom: 3%;

	    }
	   	h1{
	      top: -10px;
	      line-height:20px;
	    }
	    p{
	      top: 0;
	      line-height:12px;
	      @include text-size(1.2em);
	    }
	    a.btn{
	      top: -10px;
	    }
	    div.listImg{
	    	bottom:3%;
	    }
	    footer{
	    	bottom:0;
	    }
	}
}