$font-base: 'Open Sans', sans-serif;
$font-title: 'Libre Baskerville', serif;
$color-menu: #8c887f;
$color-lang: #6b6b6a;
$color-42: #424242;
$grey: #f7f7f7;
$color-base: #777777;
$gold: #b88f54;
$green: #c2e6ca;
$cake: #fff1e8;
$fafa:#fafafa;
$color-form: #766e68;