---
title: Flushing Commons
body_classes: 'Neighborhood'
---
<main id="top" role="main" class="neighborhood">
	<div class="bg-neighborhood"></div>
	<div class="row content-copy-one">
		<div class="large-11 medium-12 small-12 column content-left">
			<p class="title wow slideInRight" data-wow-duration=".6s" data-wow-delay="0s" data-wow-offset="100">NEIGHBORHOOD</p>
			<h1 class="title-40 wow slideInRight" data-wow-duration=".6s" data-wow-delay=".2s" data-wow-offset="100">Live<br>At Flushing, Queens</h1>
			<p class="wow slideInRight" data-wow-duration=".6s" data-wow-delay=".4s" data-wow-offset="100">Offering a wide variety of specialty shops, retail, entertainment, banks and
transportation, Flushing Commons is ideally located. A diverse community cradled
in the luxury of convenience, enabling Flushing to realize its full potential.</p>
		</div>
		<div class="large-1 medium-1 small-1 column content-right">
			<div class="box-green"></div>
		</div>
		<div class="mapData hide">
			<ul>
				<li><a href="#" data-iteration="1" data-coords="40.760532,-73.829794" data-address="devdevParis Baguette, address example" ></a></li>
	      <li><a href="#" data-iteration="2" data-coords="40.76086,-73.827106" data-address="Tus les jours, address example"></a></li>
	      <li><a href="#" data-iteration="3" data-coords="40.759416,-73.831997" data-address="Spicy &Tasty, address example"></a></li>
	      <li><a href="#" data-iteration="4" data-coords="40.758463,-73.829039" data-address="Kung fu Tea, address example"></a></li>
	      <li><a href="#" data-iteration="5" data-coords="40.761927,-73.830336" data-address="Joe’s Shangai, address example"></a></li>
	      <li><a href="#" data-iteration="6" data-coords="40.757804,-73.829638" data-address="Biang!, address example"></a></li>
	      <li><a href="#" data-iteration="7" data-coords="40.759394,-73.831888" data-address="Sentosa, address example"></a></li>
				<li><a href="#" data-iteration="2" data-coords="40.76109,-73.83062" data-address="Tai Pan Bakery, address example"></a></li>
	      <li><a href="#" data-iteration="3" data-coords="40.75985,-73.832662" data-address="Nan Xiang, address example"></a></li>
	      <li><a href="#" data-iteration="4" data-coords="40.762226,-73.829007" data-address="Little Sheep Mongolian Hot Pot, address example"></a></li>
	      <li><a href="#" data-iteration="5" data-coords="40.761138,-73.830131" data-address="Minni’s Shabu Shabu, address example"></a></li>
	      <li><a href="#" data-iteration="6" data-coords="40.761171,-73.830347" data-address="Zebra Lounge, address example"></a></li>
	      <li><a href="#" data-iteration="7" data-coords="40.757122,-73.829354" data-address="Xian Famous Food, address example"></a></li>
			</ul>
		</div>
		<div class="content-map">
			<div class="map-neighbor" id="map-canvas-neighbor"></div>
		</div>
	</div>
	<div class="content-foo text-center">
		<div class="content-title">
			<h1 class="title-40">Transportation</h1>
			<p class="">The MTA 7 Train and Main street are just a block away from Flushing Commons. JFK and
	La Guardia Airports are just a couple minutes away.</p>
		</div>
		<div class="hover-transportation">
			<figure class="hover-neighbor-1"><span>Driving<br><i>28 Minutes to Midtown</i></span></figure>
			<figure class="hover-neighbor-2"><span>MTA 7 Train<br><i>25 Minutes to Grand Central 27 Minutes to Time Square</i></span></figure>
			<figure class="hover-neighbor-3"><span>Long Island Rail Road<br><i>18 Minutes to Penn Station</i></span></figure>
			<figure class="hover-neighbor-4"><span>LGA Airport / JFK Airport<br><i>20 Minutes to La Guardia Airport 15 Minutes to JFK Airport</i></span></figure>
		</div>
	</div>
</main>
