---
title: Flushing Commons
body_classes: 'Press-interna'
---
<main id="top" role="main" class="press-interna">
	<div class="pattern"></div>
	<div class="row">
		<h1 class="title-40">Press</h1>
		<div class="view-all over-gris">
			<a href="press.html" class="arrow-left-direction">View All</a>
		</div>
		<figure>
			<img src="img/img-press-interna.jpg" alt="">
		</figure>
		<div class="header-notice">
			<h2>January 25, 2015</h2>
			<h1 class="column large-6 medium-6 small-11">The Future is Now: Flushing Real Estate
Developments For 2015 And Beyond</h1>
		<p class="column large-pull-1 medium-pull-1 large-11 medium-11 small-12">When folks think of Flushing, they might consider the shopping possibilities on Main Street, the delectably authentic Asian cuisine of New York’s second-largest Chinatown, or a sun-drenched ballgame at Citi Field. <br><br>

There are also a number of real estate development companies planning to add “luxury homes” to the slate of Flushing attractions as well. Groundbreakings in the neighborhood seem to happen on a weekly basis, while a number of artistic renderings depicting chic, high-rise apartment complexes have been released online the past few months.<br><br>

With the Flushing market already among the strongest in the five boroughs — home sales prices have shot up more than 51 percent in the last five years, according to Trulia.com — residents can only expect greater maturation in property values as a new local skyline emerges throughout the next half decade.
Here’s a sneak peek at the transformation that’s in store for one of Queens’ most urban areas:<br><br>

The Flushing Commons Project<br>
Construction of this oft-delayed, billion-dollar development finally began at 39th Avenue and 138th Street in the heart of Downtown Flushing last summer. Phase one of the Flushing Commons will produce 150 new apartments, 219,000 square feet of commercial space and an underground parking garage fit for 982 cars. The developers of this project, the F&T Group, are targeting an early-2017 opening for the initial stage.<br><br>

“From the moment the first phase of Flushing Commons is finished, the neighborhood is going to have a truly central and modern place to live, work and relax,” Michael Meyer, president of the F & T Group, told the Tribune.</p>
		</div>
		<div class="view-all over-gris">
			<a href="press.html" class="arrow-left-direction">View All</a>
		</div>
	</div>
</main>
