---
title: Flushing Commons
body_classes: 'Press'
---
<main id="top" role="main" class="press">
	<div class="pattern"></div>
	<div class="row">
		<h1 class="title-40">Press</h1>
		<div class="notice">
			<figure class="column large-4 medium-12 small-12">
				<img src="img/img-press-1.jpg" alt="">
			</figure>
			<div class="column large-pull-1 large-7 medium-12 small-12 header-notice">
				<h2>January 25, 2015</h2>
				<h1 class="column large-12 medium-10 small-12">The Future is Now: Flushing Real Estate
	Developments For 2015 And Beyond</h1>
				<p class="column large-12 medium-12 small-12">
				Groundbreakings in the neighborhood seem to happen on a weekly basis, while a number of artistic renderings depicting chic, high-rise apartment complexes have been released online the past few months.
				</p>
				<a href="press-interna.html" class="button">VIEW MORE<span></span></a>
			</div>
		</div>
		<div class="notice middle-notice">
			<figure class="column large-4 medium-12 small-12">
				<img src="img/img-press-2.jpg" alt="">
			</figure>
			<div class="column large-pull-1 large-7 medium-12 small-12 header-notice">
				<h2>January 08, 2015</h2>
				<h1 class="column large-12 medium-10 small-12">Flushing Commons breaks ground on
megaproject’s first phase</h1>
				<p class="column large-12 medium-12 small-12">
				The $1 billion project will offer up a mix of housing, commercial and community space on the five-acre site, including a 1.8 million-square-foot YMCA, underground parking and one-acre public square. The first phase is slated for completion by 2017.
				</p>
				<a href="press-interna.html" class="button">VIEW MORE<span></span></a>
			</div>
		</div>
		<div class="notice">
			<figure class="column large-4 medium-12 small-12">
				<img src="img/img-press-3.jpg" alt="">
			</figure>
			<div class="column large-pull-1 large-7 medium-12 small-12 header-notice">
				<h2>January 25, 2015</h2>
				<h1 class="column large-12 medium-10 small-12">Flushing Common developers take
steps to reduce traffic</h1>
				<p class="column large-12 medium-12 small-12">
				Traffic agents, along with a temporary pedestrian walkway, will now surround the Flushing Commons construction site in downtown to Flushing to address pedestrian safety and congestion issues.
				</p>
				<a href="press-interna.html" class="button">VIEW MORE<span></span></a>
			</div>
		</div>
	</div>
	<div class="paginator">
		<ul>
			<li><a href="#" class="active">1</a> -</li>
			<li><a href="#">2</a> -</li>
			<li><a href="#">3</a> -</li>
			<li><a href="#">4</a></li>
		</ul>
	</div>
</main>
