---
title: Flushing Commons
body_classes: 'Team'
---
<main id="top" role="main" class="team">
	<div class="pattern"></div>
	<div class="row">
		<h1 class="title-40">The Team</h1>
		<figure>
			<span class="team-1"></span>
			<p>
				Established in New York City in 1983, F&T Group is a fully integrated real estate development and investment company, focusing on mixed-use, commercial and residential development. With offices in New York City, Shanghai and Nanjing and an in-house team of highly experienced construction, master planning, architectural design and marketing professionals, F&T’s US-Sino cooperative platform is characterized by its internationally recognized construction and design quality as well as its global vision for development excellence. F&T Group’s current projects include the 4 million square feet Nanjing World Trade Center and One Fulton Square, a 330,000 square feet mixed-use project consisting of office, luxury residential, retail and hotel in the heart of downtown Flushing, New York.
			</p>
			<a href="#" class="button">VISIT WEBSITE<span></span></a>
		</figure>
		<figure>
			<span class="team-2"></span>
			<p>
				The Rockefeller Group is a leading global real estate owner, developer and investment manager. For over eight decades the company has developed some of America’s most significant real estate projects, beginning with one of the world’s finest urban mixed-use complexes, New York City’s Rockefeller Center. Since inception, The Rockefeller Group has developed over 50 million square feet of property, and has attained ownership interest in more than 7 million square feet of class-A office property in U.S. gateway markets including Boston, Los Angeles, New York City, and Washington, D.C. Over the past decade, The Rockefeller Group has developed more than 10 million square feet of premier office, retail, residential and industrial property in eight U.S. states, with approximately 8 million square feet completed since 2009.
			</p>
			<a href="http://www.rockefellergroup.com" target="_blank" class="button">VISIT WEBSITE<span></span></a>
		</figure>
		<figure>
			<span class="team-3"></span>
			<p>
				AECOM Capital is a real estate investment and development fund launched by John T. Livingston and AECOM Technology Corporation, a NYSE listed company with $20 billion in gross revenue and 100,000 employees spanning 160 countries. AECOM is also a Fortune 500 company, and is ranked the #1 Design Firm by Engineering News-Record in 2011 and 2012. With offices in New York and Los Angeles, AECOM Capital invests in co-development opportunities in United States and United Kingdom gateway cities, with an emphasis on residential, hospitality, retail and mixed-use projects. AECOM Capital has committed approximately $140 million of capital across twelve projects with a total capitalization of $2.8 billion and 7.5 million square feet of real estate development projects located in NYC, Jersey City, Washington D.C., Los Angeles, and San Diego.
			</p>
			<a href="http://www.aecom.com" target="_blank" class="button">VISIT WEBSITE<span></span></a>
		</figure>
	</div>
</main>
