---
title: Flushing Commons
body_classes: 'Work'
---
<main id="top" role="main" class="work">
	<div class="bg-work"></div>
	<div class="row content-copy-one">
		<div class="large-11 medium-12 small-12 column content-left">
			<p class="title wow slideInRight" data-wow-duration=".6s" data-wow-delay="0s" data-wow-offset="100">OFFICES</p>
			<h1 class="title-40 wow slideInRight" data-wow-duration=".6s" data-wow-delay=".2s" data-wow-offset="100">Class A Office in the Heart of Flushing</h1>
			<p class="wow slideInRight" data-wow-duration=".6s" data-wow-delay=".4s" data-wow-offset="100">F&T Group, The Rockefeller Group, and AECOM Capital are proud to introduce the first glass curtain office tower in downtown Flushing. The modern and stylish design has been tailored to address the needs of discerning investors looking to have their business or medical practice in a Class A office space.</p>
		</div>
		<div class="large-1 medium-1 small-1 column content-right">
			<div class="box-green"></div>
		</div>
		<div class="row slider">
			<div class="slide-1"></div>
			<div class="slide-2"></div>
			<div class="slide-3"></div>
		</div>
		<div class="content-building">
			<div class="content-left large-3 medium-3 column">
				<figure class="building"></figure>
			</div>
			<div class="content-right large-9 medium-9 small-12 column">
				<h2 class="title-40 wow slideInLeft" data-wow-duration=".6s" data-wow-delay="0s" data-wow-offset="150">Own a Piece of This Iconic
	Building in the Center
	of Flushing’s Thriving
	Business District</h2>
				<p class="wow slideInLeft" data-wow-duration=".6s" data-wow-delay=".2s" data-wow-offset="150">With office condominium units from 1,200 to over 4,000 gross sq.ft. and ample parking for more than 1,600 vehicles, Flushing Commons is the most preeminent corporate address for Flushing’s highly active business and medical community.
	Conceived by award-winning architects Perkins Eastman and built by Tishman Construction, the Offices at Flushing Commons has been thoughtfully designed to meet the needs of the most discerning medical professional, business owner and investor.</p>
				<a href="availability.html" class="button wow slideInLeft" data-wow-duration=".8s" data-wow-delay="0s" data-wow-offset="150">View Availabilities<span></span></a>
			</div>
		</div>
	</div>
</main>
