---
title: Flushing Commons
body_classes: 'Wrong'
---
<main id="top" role="main" class="wrong">
	<section>
		<div class="content-title">
			<div class="row">
				<h1>404	<sup>ERROR</sup></h1>
			</div>
		</div>
	</section>
	<article>
		<div class="row">
			<p>The webpage was not found</p>
			<p>What are you looking for? Let's try again</p>
		</div>
		<div class="row">
			<input type="text" placeholder="Search">
		</div>
	</article>
</main>